<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
<!--   
   <context:component-scan base-package="com.voyage.services.*" />
    <context:annotation-config/> -->

<bean id="vdao" class="com.voyage.daos.DAOVoyageur"/>

<bean id="voyageur1" class="com.voyage.entities.Voyageur">
	<property name="civilite" value="Monsieur"/>
	<property  name="nom" value="Wayne"/>
	<property  name="prenom" value="Bruce"/>
	<property  name="email" value="bwayne@wayne.gc"/>
	<property name="adresse"> <ref bean="adresse1"/></property>
	<property  name="pieceIdentite" value="987653"/>
	<property  name="age" value="38"/>
</bean>

<bean id="adao" class="com.voyage.daos.DAOAdresse"/>

<bean id="adresse1" class="com.voyage.entities.Adresse">
	<property name="rue" value="Wayne Manor"/>
	<property name="ville" value="Gotham"/>
	<property name="codePostal" value="10543"/>
	<property name="pays" value="USA"/>
</bean>

<bean id="rdao" class="com.voyage.daos.DAOReservation"/>

<bean id="reservation1" class="com.voyage.entities.Reservation">
	<property name="listeVoyageur">
	    <list>
	    	<ref bean="voyageur1"/>
	    </list>
  </property>
  	<property name="prixTotal" value="499"/>
	<property name="client"><ref bean="client1"/></property>
	<property name="voyage"><ref bean="voyage1"/></property>

</bean>

<bean id="cdao" class="com.voyage.daos.DAOClient"/>

<bean id="client1" class="com.voyage.entities.Client">
	<property name="civilite" value="Monsieur"/>
	<property  name="nom" value="Wayne"/>
	<property  name="prenom" value="Bruce"/>
	<property  name="email" value="bwayne@wayne.gc"/>
	<property name="adresse"> <ref bean="adresse1"/></property>
	<property name="reservation"><ref bean="reservation1"/></property>
	<property  name="moyenPaiement" value="CB"/>
</bean>

<bean id="vvdao" class="com.voyage.daos.DAOVoyage"/>

<bean id="voyage1" class="com.voyage.entities.Voyage">
	<property name="prix" value="499"/>
	<property name="destination" value="Italie"/>
	<property name="prestations">
	    <list>
	    	<ref bean="prestation1"/>
	    </list>
  </property>
</bean>

<bean id="pdao" class="com.voyage.daos.DAOPrestation"/>

<bean id="prestation1" class="com.voyage.entities.Avion">
	<property name="dateDepart" value="15/07/2021"/>
	<property name="dateArrivee" value="28/07/2021"/>
	<property name="prixHT" value="499"/>
	<property name="aeroport" value="RKV"/>
	<property name="compagnie" value="VikingAir"/>
</bean>

</beans>